# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [10]:
# API
import requests
import json

# Data
import pandas as pd
import numpy as np

# Data Viz
import matplotlib.pyplot as plt
import seaborn as sns
import hvplot.pandas # maps

# Turn off warning messages
import warnings
warnings.filterwarnings("ignore")

# Import API key
from api_keys import geoapify_key

In [11]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("../output_data/cities.csv")

# Display sample data
city_data_df.head(25)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,wailua homesteads,22.0669,-159.3780,82.83,80.0,20.0,11.50,US,1.719434e+09
1,1,sarnen,46.8985,8.2507,66.54,89.0,40.0,4.61,CH,1.719434e+09
2,2,vorgashor,67.5833,63.9500,50.25,96.0,100.0,8.23,RU,1.719434e+09
3,3,klyuchi,52.2667,79.1667,70.18,80.0,0.0,7.09,RU,1.719434e+09
4,4,horta,38.5333,-28.6333,72.01,78.0,75.0,10.36,PT,1.719434e+09
5,5,adamstown,-25.0660,-130.1015,72.45,84.0,0.0,9.98,PN,1.719434e+09
6,6,lebu,-37.6167,-73.6500,53.62,96.0,100.0,13.89,CL,1.719434e+09
7,7,edinburgh of the seven seas,-37.0676,-12.3116,54.61,87.0,100.0,30.62,SH,1.719434e+09
8,8,grytviken,-54.2811,-36.5092,21.20,83.0,52.0,11.27,GS,1.719434e+09
9,9,georgetown,5.4112,100.3354,84.13,79.0,20.0,3.44,MY,1.719434e+09
10,10,hadibu,12.6500,54.0333,79.93,80.0,94.0,18.10,YE,1.719434e+09
11,11,queenstown,-31.8976,26.8753,46.90,76.0,0.0,2.35,ZA,1.719434e+09
12,12,port-aux-francais,-49.3500,70.2167,39.24,81.0,97.0,14.85,TF,1.719434e+09
13,13,puerto ayora,-0.7393,-90.3518,85.96,88.0,44.0,5.99,EC,1.719434e+09
14,14,st. john's,47.5649,-52.7093,64.27,94.0,100.0,11.50,CA,1.719434e+09
15,15,margaret river,-33.9500,115.0667,50.31,94.0,100.0,6.85,AU,1.719434e+09
16,16,liwale,-9.7667,37.9333,68.59,63.0,94.0,3.65,TZ,1.719434e+09
17,17,waitangi,-43.9535,-176.5597,49.82,80.0,100.0,8.01,NZ,1.719434e+09
18,18,holualoa,19.6228,-155.9522,79.56,78.0,0.0,8.05,US,1.719434e+09
19,19,petropavlovsk-kamchatsky,53.0452,158.6483,45.19,87.0,100.0,2.24,RU,1.719434e+09
20,20,ushuaia,-54.8000,-68.3000,29.86,80.0,75.0,4.61,AR,1.719434e+09
21,21,avarua,-21.2078,-159.7750,78.85,61.0,91.0,14.97,CK,1.719434e+09
22,22,udachny,66.4167,112.4000,63.01,45.0,100.0,3.13,RU,1.719434e+09
23,23,egilsstadir,65.2653,-14.3948,57.11,58.0,20.0,6.91,IS,1.719434e+09
24,24,isafjordur,66.0755,-23.1240,43.05,86.0,100.0,1.70,IS,1.719434e+09

---

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

In [14]:
# %%capture --no-display

# Configure the map plot
map_plot = city_data_df.hvplot.points(
    "Lng",
    "Lat",
    geo = True,
    size = "Humidity",
    scale = 1,
    color = "City",
    alpha = 0.5,
    tiles = "OSM",
    frame_width = 800,
    frame_height = 600
)

# Display the map
map_plot

:Overlay
   .WMTS.I   :WMTS   [Longitude,Latitude]
   .Points.I :Points   [Lng,Lat]   (City,Humidity)

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [15]:
# Narrow down cities that fit criteria and drop any results with null values
narrowed_city_df = city_data_df.loc[
    (city_data_df["Max Temp"] < 80.6) & (city_data_df["Max Temp"] > 69.8) \
    & (city_data_df["Wind Speed"] < 4.5) \
    & (city_data_df["Cloudiness"] == 0)
]

# Drop any rows with null values
narrowed_city_df = narrowed_city_df.dropna()

# Display sample data
narrowed_city_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
205,205,lodja,-3.4833,23.4333,72.30,39.0,0.0,3.36,CD,1.719434e+09
225,225,colonia,50.9333,6.9500,77.85,72.0,0.0,1.14,DE,1.719434e+09
518,518,sao desiderio,-12.3633,-44.9733,77.92,28.0,0.0,3.13,BR,1.719434e+09

### Step 3: Create a new DataFrame called `hotel_df`.

In [16]:
# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity
hotel_df = narrowed_city_df[["City", "Country", "Lat", "Lng", "Humidity"]].copy()

# Add an empty column, "Hotel Name," to the DataFrame so you can store the hotel found using the Geoapify API
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df

              City Country      Lat      Lng  Humidity Hotel Name
205          lodja      CD  -3.4833  23.4333      39.0
225        colonia      DE  50.9333   6.9500      72.0
518  sao desiderio      BR -12.3633 -44.9733      28.0

### Step 4: For each city, use the Geoapify API to find the first hotel located within 10,000 metres of your coordinates.

In [17]:
# Set parameters to search for a hotel
radius = 10000
params = {
    "categories":"accommodation.hotel",
    "apiKey": geoapify_key,
    "limit": 20
}

# Print a message to follow up the hotel search
print("Starting hotel search")

# Iterate through the hotel_df DataFrame
for index, row in hotel_df.iterrows():
    latitude = row["Lat"]
    longitude = row["Lng"]
    
    # Add filter and bias parameters with the current city's latitude and longitude to the params dictionary
    params["filter"] = f"circle:{longitude},{latitude},{radius}"
    params["bias"] = f"proximity:{longitude},{latitude}"
    
    # Set base URL
    base_url = "https://api.geoapify.com/v2/places"


    # Make and API request using the params dictionaty
    name_address = requests.get(base_url, params=params)
    
    # Convert the API response to JSON format
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name in the hotel_df DataFrame
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["features"][0]["properties"]["name"]
    except (KeyError, IndexError):
        # If no hotel is found, set the hotel name as "No hotel found".
        hotel_df.loc[index, "Hotel Name"] = "No hotel found"
        
    # Log the search results
    print(f"{hotel_df.loc[index, 'City']} - nearest hotel: {hotel_df.loc[index, 'Hotel Name']}")

# Display sample data
hotel_df

Starting hotel search
lodja - nearest hotel: No hotel found
colonia - nearest hotel: Wasserturm Hotel Cologne
sao desiderio - nearest hotel: No hotel found

,City,Country,Lat,Lng,Humidity,Hotel Name
205,lodja,CD,-3.4833,23.4333,39.0,No hotel found
225,colonia,DE,50.9333,6.9500,72.0,Wasserturm Hotel Cologne
518,sao desiderio,BR,-12.3633,-44.9733,28.0,No hotel found

### Step 5: Add the hotel name and the country as additional information in the hover message for each city in the map.

In [18]:
%%capture --no-display

# Configure the map plot
map_plot = city_data_df.hvplot.points(
    "Lng",
    "Lat",
    geo = True,
    size = "Humidity",
    scale = 1,
    color = "City",
    alpha = 0.5,
    tiles = "OSM",
    frame_width = 700,
    frame_height = 500,
    hover_cols = ["Hotel Name", "Country"]
)

# Display the map
map_plot

:Overlay
   .WMTS.I   :WMTS   [Longitude,Latitude]
   .Points.I :Points   [Lng,Lat]   (City,Humidity,Country)